.j3, .j5{
    height: 230px;
    top:37%;
    
}

.a4 svg{
    font-size: 75px !important;
}

.gridContain, .gridContain2{
    grid-gap: 0px;
    bottom:38%;
}

.gridContain{
    left:15%;
}

.gridContain2{
    right:15%;
    
}
.a4 h4{
    margin-bottom: 50px;
}

.fp-slides .active{
    background-position-x:-50% !important;
}